@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600');

body{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none; 
   text-decoration: none;
   background: linear-gradient(to right, rgba(193,223,196,0.3), rgba(222,236,221,0.5));
}

.input{
   background: linear-gradient(to right, rgba(177, 194, 179, 0.2), rgba(220, 235, 219, 0.7));
   border-color: black;
}

.pointer{
   cursor: pointer;
}

.table.is-striped tbody tr:nth-child(even) {
   background-color: #e5fbe5!important;
 }
 
.table.is-striped tbody tr:nth-child(even):hover {
   background-color: #AFE1AF!important;
} 

.custom-height {
   height: 100vh;
}

.table-container {
   overflow-x: hidden;
}

.navbar {
   max-width: 1350px;
   padding: 10px;
   margin: auto;
}

.navbar-button {
   position: relative;
   width: 50px;
   height: 50px;
   border-radius: 50%;
 }
 
.navbar-button:hover::before {
   content: attr(data-button-name);
   position: absolute;
   bottom: -40px; /* adjust as needed */
   left: 50%;
   transform: translateX(-50%);
   background-color: black;
   color: white;
   padding: 4px 8px;
   border-radius: 4px;
   font-size: 14px;
   white-space: nowrap;
}

.icon {
   cursor: pointer;
}

.navbar-padding {
   padding: 0;
}

.tag {
   position:absolute; 
   top:-10px; 
   right:-2px;
}

 @media screen and (min-width: 1024px) {
   .navbar-dropdown.is-right {
      left: auto;
      right: 0;
      position: absolute;
  }

  .navbar-dropdown.is-boxed {
   border-radius: 6px;
   border-top: none;
   padding: 8px;
   right: 5%;
   width: 280px;
   box-shadow: 0 8px 8px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
   display: block;
   /* position: absolute; */
   opacity: 0;
   pointer-events: none;
   top: calc(100% + (4px));
   transform: translateY(-5px);
   transition-duration: 86ms;
   transition-property: opacity,transform;
   }

   .nav.is-active .navbar-dropdown.is-boxed {
      opacity: 1;
      transform: translateY(0);
  }

}

@media screen and (max-width: 1400px) {
   .title {
      font-size: 1rem;
   }
   .navbar-dropdown.is-right {
      left: auto;
      right: 0;
      position: absolute;
  }

  .navbar-dropdown.is-boxed {
   border-radius: 6px;
   border-top: none;
   padding: 8px;
   right: 5%;
   width: 280px;
   box-shadow: 0 8px 8px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
   display: block;
   /* position: absolute; */
   opacity: 0;
   pointer-events: none;
   top: calc(100% + (4px));
   transform: translateY(-5px);
   transition-duration: 86ms;
   transition-property: opacity,transform;
   }

   .nav.is-active .navbar-dropdown.is-boxed {
      opacity: 1;
      transform: translateY(0);
  }

}

   
